#Error{
	color:red;

}


#form2{
	
	width: 40%;
}
#form32{
	width: 40%;

}
#form8{
	width:40%;
}
h3{
	width:40%;
}

#products{

padding-left:20px;
padding-right:20px;

}
#image{
	height: 80px;

}
#fotr{
	padding-top:50%;
}
